
<h3>Lingua: italiano / Language: Italian only</h3>
<br />

<h2 class="row__title">Amazing Angular Reactive Forms - Giovedì 13 Giugno 2019</h2>

<div class="row row--2">
    <div class="row__column">
        <p>
           I form rappresentano buona parte delle funzionalità incluse in applicazioni web enterprise e corporate (B2B, banche, fintech, scuole, PA, assicurazioni ma anche in CRM, CMS…) e sono, spesso, la parte più complessa, lunga e noiosa da gestire. Ma dopo l’uscita di AngularJS, e poi Angular (2+), le cose sono cambiate 😎

           Angular è il framework front-end che integra il maggior numero di funzionalità per la gestione di form, dividendoli in due tipologie: <strong> template-driven form </strong>, totalmente basati sui template HTML, e i <strong>Reactive Forms</strong>, basati sul concetto di Observable tramite l’utilizzo della libreria RxJS. 

           <strong>In questo corso intensivo ci focalizzeremo quasi totalmente sui Reactive Forms</strong>, in quanto offrono una flessibilità decisamente superiore rispetto ai template-driven forms, ed <strong>esploreremo diverse tecniche per sfruttarli al meglio con esempi pratici e casi d’uso reali:</strong> dalle fondamenta fino ai casi più complessi.

           Il corso sarà tenuto da Fabio Biondi, Google Developer Expert in Web Technologies e Angular, e quasi totalmente erogato con sessioni di live coding. Al termine del corso sarà rilasciato il codice sorgente di tutti gli esercizi e materiale in formato PDF.

        </p>
        <br/>

        <h3>Argomenti</h3>
        <p>
        <ul>
            <li>Introduzione ai Reactive Forms</li>
            <li>Template driven-forms vs Reactive forms: comparativa tra le tue tipologie di form anche tramite l’ausilio di unit test</li>
            <li>Forms e Reactive Programming</li>
            <li>Gli operatori RxJS più utili: scenari e casi d’uso reali</li>
            <li>AbstractControl e FormControl</li>
            <li>Creare form con FormBuilder</li>
            <li>Manipolare Forms Group e FormControl con RxJS</li>
            <li>Custom FormControl validators: differenti tecniche per la creazione di custom validator per i singoli campi (controls)</li>
            <li>Custom FormGroup validators: creazione di validatori di gruppo in cui la validazione di un campo è legata al contenuto di un altro campo</li>
            <li>Custom async form validators: validatori asincroni tramite l’utilizzo di REST API e gestione dello stato di pending
            <li>Impostare e cambiare validatori a runtime</li>
            <li>FormGroup nidificati: creare e validare gruppi di controlli</li>
            <li>Validazioni parziali di un form: validare diversi FormGroup all’interno di un unico form</li>
            <li>Creazione form multi step</li>
            <li>Organizzare un form in differenti componenti indipendenti</li>
            <li>FormArray: validare array di form, rimuovere e aggiungere elementi</li>
            <li>Creare form a runtime tramite l’utilizzo di API low-level del framework</li>
            <li>Differenti tecniche, più o meno complesse, per la generazione di form dinamici a partire da un formato JSON</li>
            <li>Creare componenti custom FormControl con ControlValueAccessor: creare custom form control e integrazione con il sistema di validazione del framework. Alcuni esempi tipici sono Color Picker, Calendar e simili</li>
            <li>BONUS: creare validatori custom sincroni e asincroni per i template driven form tramite la creazione di direttive custom riutilizzabili</li>

        </ul>
        </p>

        <a href="{{ site.data.tickets.url }}" class="button button--register">
            Registrati
        </a>
        <br/><br/>


        <h3>A chi è rivolto</h3>
        <p>

            Questo corso intensivo si rivolge a tutti gli sviluppatori che già utilizzano Angular o che desiderano esplorare le potenzialità offerte dal framework per quando concerne la gestione di form.
            Al termine del corso sarai in grado di utilizzare la maggior parte delle tecniche disponibili in Angular per la creazione e gestione di form di media-alta complessità.
        </p>
        <br />

        <h3>Requisiti di partecipazione</h3>
        <p>
            Per partecipare è <strong>necessario, o quanto meno fortemente consigliato, che tu conosca già i concetti fondamentali alla base di Angular</strong>: utilizzo di direttive ngIf, ngFor, ngSwitch; basi sul concetto di servizi e dependency injection; comunicazione con il server tramite HttpClient e realizzazione di componenti custom.
        </p>
        <br/>

        <h3>Informazioni utili</h3>
        <p>
            La durata del corso è di una giornata (7 ore) e si terrà Giovedì 13 Giugno nella stessa location della conferenza.
            I biglietti sono venduti separatamente da quelli per la conferenza. 
            Il corso si tiene in italiano e non è indispensabile portare il proprio computer perché non sono previste esercitazioni in aula.  
        </p>
        <br/>

        <h3>Programma</h3>
        <p>
        <strong>REGISTRAZIONE</strong>
        <br>
        9:00 - 9:30 <br>
        <br>
        <strong>ORARI</strong>
        <br>
        9:30 - 17:30 (coffee break e pranzo inclusi)<br>
        </p>
        <br>

        <h3>Sede</h3>
        <p>
            <strong class="row__title">Hotel San Marco</strong><br>
            Via Longhena, 42<br>
            37138 Verona — Italy<br>
            <a href="tel:045569011">045569011</a><br>
            <a href="tel:045572299">045572299</a><br>
            <a href="http://www.sanmarco.vr.it/index.cfm/it/">http://www.sanmarco.vr.it/</a><br>
            L'hotel offre tariffe scontate ai partecipanti al workshop, sia per camere singole che doppie.
        </p>

        <br/> <br/>
        <a href="{{ site.data.tickets.url }}" class="button button--register">
            Acquista il biglietto!
        </a>
    </div>
    <div class="row__column">
        <div class="talk__speakers">
          <span class="talk__speaker-name">
              Fabio Biondi
          </span>
        </div>
        <p>
            <img src="{{ site.baseurl }}/img/{{ site.data.conference.slug }}/training/fabio-biondi.jpg"
                 alt="Fabio Biondi">
            <br /><br />
            Fabio Biondi is both a community leader and a frequent contributor in many Italian front-end usergroups (Angular, React, Javascript). He's a Google Developer Expert in Web Technologies and Angular with more than 15 years of experience in developing enterprise level applications, interactive experiences and UI components in several languages and web technologies.<br/>
            Currently, he holds meetups, events and training courses all over Italy.<br/>
            His particular specialism is front-end applications and related aspects, both visuals and architectural. He daily uses cutting-edge libraries and frameworks offering training, development, code review and consulting on Angular, React, Vue.js, Typescript/ES6, Redux, NGRX, RxJS, Firebase, D3.js and several other web technologies.<br/>
        </p>
    </div>
</div>
