---
title: Schedule
---

<div class="limit limit--top-margin">

  {% include schedule/intro.html date='December 3rd 2020' %}

  <div class="schedule" data-dates="1-25,5-12,1-24">
    <table class="schedule__table">
      <thead>
        {% include schedule/header.html tracks='1' %}
      </thead>
      <tbody>
        {% include schedule/event.html time='9:45 - 10:00 CET' title='GrUSP presentation' fill='true' %}

        <!-- remove me -->
        {% include schedule/event.html time='10:00 - 10:45 CET' title='TBA' fill='true' %}

        <tr>
          <!--
          {% include schedule/talk.html time='10:00 - 10:45 CET' title="TBA" speaker_id='' fill='true' %}
          -->
          {% include schedule/talk.html time='10:45 - 11:30 CET' title="Accessibility, what, why and how?" speaker_id='marjorie-figueroa' fill='true' %}
        </tr>

        {% include schedule/pause.html time='11:30 - 12:00 CET' title='Short break' icon="coffee" fill='true' %}
        <tr>
          {% include schedule/talk.html time='12:00 - 12:45 CET' title="Web Components for Authentication: The what, the why and the how" speaker_id='ana-cidre' fill='true' %}
          {% include schedule/talk.html time='12:45 - 13:30 CET' title="A deep dive into RxJS WebSocket Subject" speaker_id='lamis-chebbi' fill='true' %}
        </tr>

        {% include schedule/pause.html time='13:30 - 15:00 CET' title='lunch' icon="food" fill='true' %}
        <tr>
          {% include schedule/talk.html time='15:00 - 15:45 CET' title="Supercharge the speed of your app with these PWAs' secrets! ⚡" speaker_id='marta-wisniewska' fill='true' %}
          {% include schedule/talk.html time='15:45 - 16:30 CET' title="Sending the Angular app into deep, deep offline with Workbox" speaker_id='maxim-salnikov' fill='true' %}
        </tr>

        {% include schedule/pause.html time='16:30 - 17:00 CET' title='Coffee break' icon="coffee" fill='true' fill='true' %}

        <tr>
          {% include schedule/talk.html time='17:00 - 17:45 CET' title="Testing with MockStore in NgRx 9" speaker_id='john-crowson' fill='true' %}
          {% include schedule/talk.html time='17:45 - 18:30 CET' title="Deploying Apps to the Cloud At Scale" speaker_id='john-papa' fill='true' %}
        </tr>
        {% include schedule/event.html time='18:30 - 18:45' title='Bye bye from GrUSP' fill='true' %}

      </tbody>
    </table>
  </div>
</div>

{% include index/newsletter.html %}
{% include index/sponsors.html %}
