---
title: Corso "DATA ARCHITECTURES in ANGULAR e NGRX"
---

<div class="limit">

  <div class="intro intro--no-height">
    <h2 class="intro__titlepage">DATA ARCHITECTURES in Angular, Redux e ngrx</h2>
  </div>

  <h2 class="row__title">Fabio Biondi e Michele Stieven</h2>

  <h3 class="row__title"><br>Un’introduzione alla creazione di architetture solide e scalabili in Angular utilizzando Redux, ngrx per la gestione dello stato applicativo</h3>


  <div class="row row--1">
    <div class="row__column">
      <p class="row__text">
        Requisiti: per comprendere gli argomenti trattati nel corso è necessario avere una discreta conoscenza delle seguenti funzionalità del framework Angular: componenti custom, moduli, dependency injection, router e lazy loading.
      </p>
      <p class="row__text">
        <strong>REGISTRAZIONE</strong>
        <br>
        9:00 - 9:30 <br>
        <br>
        <strong>ORARI</strong>
        <br>
        9:30 - 18:00 (con pausa pranzo e caffè)<br>
      </p>
      <p class="row__text">
        <strong>OVERVIEW</strong>
        <br>
        Angular fornisce gli strumenti fondamentali per sviluppare un’intera Single Page Application.  Tuttavia, le attività che il front-end deve svolgere sono sempre più complesse e le interfacce utente (UI), di conseguenza, stanno diventando sempre più sofisticate: gestione di un data-flow molto articolato, componenti che devono rimanere in sync tra di loro, integrazione unit test, time travel debugging sono solo alcune delle problematiche ricorrenti che uno sviluppatore front-end deve affrontare quotidianamente.<br>
        <br>
        Redux, libreria nata per requisiti complessi in contesti quali Facebook, nasce con l’obiettivo di separare nettamente gli aspetti architetturali dalla user interface, semplificando la gestione dello stato applicativo e rendendo il codice molto più manutenibile, testabile e scalabile.<br>
        <br>
        NGRX è una libreria ispirata a Redux creata per gestire lo stato applicativo in applicazioni Angular e ne condivide diversi aspetti: azioni, reducers e un singolo store. I dati sono esposti sotto forma di Observable (quindi fa largo uso di RxJS) tramite selezioni dello stato e fornisce una moltitudine di pattern e utility per gestire inoltre operazioni asincrone, effects/middlewares, lazy loading, entità e molto altro.<br>
        <br>
        <strong>IL PROGRAMMA</strong>
        <br>
        <strong>Redux Introduction</strong>
        <ul>
          <li>Principi fondamentali</li>
          <li>Immutable State</li>
          <li>Pure vs Inpure functions</li>
          <li>Reducers</li>
          <li>Store</li>
          <li>Actions</li>
          <li>Containers vs Presentational components</li>
          <li>Esempi e casi d’uso</li>
        </ul>

        <br>
        <strong>Gestione stato applicativo con NGRX</strong>
        <br>
        <ul>
          <li>Data architectures in Angular e NGRX</li>
          <li>Store e stato aplicativo</li>
          <li>Azioni, sincrone e asincrone</li>
          <li>Reducer: aggiornare lo stato applicativo</li>
          <li>Selettori e memoization</li>
          <li>Async Pipes</li>
          <li>Action Creator</li>
          <li>Comunicazione con il server</li>
          <li>Observable e RxJS</li>
          <li>Effects</li>
          <li>Gestione di custom modules</li>
          <li>Lazy loading</li>
          <li>Integrazione test</li>
        </ul>
      </p>
    </div>
  </div>

</div>

{% include index/newsletter.html %}
{% include index/sponsors.html %}
