<section class="limit limit--no-overflow">
  <div class="conf-infos">
    <div class="conf-infos__column">
      <h4 class="conf-infos__title">
        Who is it for?
      </h4>
      <p class="conf-infos__text">
        Angular Day is dedicated to developers and technical managers. 
      </p>
      <p class="conf-infos__text">
              Each year, you can learn about all the updates on Angular, find new partners and meet new peers and employees.
      </p>
      <h4 class="conf-infos__title">
        What is it about?
      </h4>
      <p class="conf-infos__text">
        We will talk about new development methodologies, best practices, success stories, 
        code quality, data architectures, modularization, performance and much more. 
       The conference is organized by GrUSP, the organizers of jsDay.
       </p>

      <!--
      <div class="vimeo">
        <iframe class="vimeo__video" src="https://player.vimeo.com/video/176058670?color=8caceb" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
      -->
    </div>

    <div class="conf-infos__column conf-infos__column&#45;&#45;right">
      <div class="mega-info mega-info&#45;&#45;responsive">
        <div class="mega-info__number">8+</div>
        <div class="mega-info__text">SPEAKERS</div>
      </div>
      <!--
      <div class="mega-info mega-info&#45;&#45;responsive">
        <div class="mega-info__number">3</div>
        <div class="mega-info__text">MINI-TALK</div>
      </div>
    </div>
    <div class="conf-infos__column conf-infos__column&#45;&#45;right">
      <div class="mega-info mega-info&#45;&#45;responsive">
        <div class="mega-info__number">1</div>
        <div class="mega-info__text">Traccia</div>
      </div>
      <div class="mega-info mega-info&#45;&#45;responsive">
        <div class="mega-info__number">1</div>
        <div class="mega-info__text">Giorno</div>
      </div>

      <div class="vimeo-phrase">
        Dedicata<br>
        esclusivamente<br>
        allo sviluppo<br>
        con Angular
      </div>
    </div>
    -->
  </div>
</section>
