
<div class="conf-city-title">
  <div class="mega-info mega-info&#45;&#45;big">
    <div class="mega-info__text mega-info__text&#45;&#45;lowercase">...in a lovely</div>
    <div class="mega-info__number">
      Verona
    </div>
  </div>
</div>

<!--
<br>
<div class="conf-city-title" style="margin-bottom: -2em;">
  <div class="mega-info mega-info&#45;&#45;big"
       style="color: #666">
    <div class="mega-info__text mega-info__text&#45;&#45;lowercase">a </div>
    <div class="mega-info__number">
      Verona
    </div>
  </div>
</div>

<br>
-->



<!--<div class="conf-city-title">
  <div class="mega-info mega-info&#45;&#45;big">
    <div class="mega-info__text mega-info__text&#45;&#45;lowercase"
      style="color: #666">1,7km dalla stazione</div>
  </div>
</div>-->

<br>
<br>
<!--<img id="venue" class="conf-city" src="{{ site.baseurl }}/img/themes/{{ site.data.conference.slug }}/conf-city.jpg">-->
<a href="https://www.google.it/maps/dir/Hotel+San+Marco,+Via+Baldassarre+Longhena,+Verona,+Province+of+Verona/Verona+Porta+Nuova,+Piazzale+XXV+Aprile,+37138+Verona+VR/@45.4326605,10.9942307,15.57z/data=!4m14!4m13!1m5!1m1!1s0x4781e1e372fb9bc5:0xe22aa957cb43cd25!2m2!1d10.9719328!2d45.4399961!1m5!1m1!1s0x477f5f664a2f09fd:0x558f7661f12a33b9!2m2!1d10.9823731!2d45.4291016!3e2?hl=en"
 target="_blank">
  <img id="venue" class="conf-city" src="{{ site.baseurl }}/img/themes/{{ site.data.conference.slug }}/map-verona-station.png">
</a>


