<!--<div class="speakers-title">-->
<!--  <div class="mega-info mega-info&#45;&#45;huge">-->
<!--    <div class="mega-info__text">Our Speakers</div>-->
<!--  </div>-->
<!--</div>-->

<div class="limit">
  <div class="speakers">
    {% if site.data.conference.talks_available %}
    {% for speaker in site.data.speakers.list %}
      <div class="speakers__column">
        <div class="speaker">
          <div class="speaker__pic" style="background-image:url('{{ site.baseurl }}/img/{{ site.data.conference.slug }}/speaker/{{ speaker.image }}');"></div>
          <div class="speaker__full-name">
            <div class="speaker__name">
              {{ speaker.first_name }}
            </div>
            <div class="speaker__name">
              {{ speaker.last_name }}
            </div>
          </div>
          <div class="speaker__description">
            {{ speaker.description }}
          </div>
          <a class="speaker__twitter-link" href="https://twitter.com/{{ speaker.twitter }}">
            @{{ speaker.twitter }}
          </a>
        </div>
      </div>
    {% endfor %}
    {% endif %}

    <div class="speakers__column speakers__column--cfp" style="width:40%">
      {% if site.data.conference.call_for_paper %}
        <a href="{{ site.data.conference.call_for_paper_url }}" target="_blank" class="button"
           style="border-radius: 30px;width: 100%;text-align: center;color:white;background-color: #f45656;">
          Call for paper
        </a>
      {% endif %}
    </div>
  </div>
</div>

<div class="speakers-title">
  <div class="mega-info mega-info--huge">
    <div class="mega-info__text">MC</div>
  </div>
</div>

<div class="limit">
  <div class="speakers">
    <div class="speakers__column">
      <div class="speaker">
        <div class="speaker__pic" style="background-image:url('{{ site.baseurl }}/img/{{ site.data.conference.slug }}/speaker/tomas-trajan.jpg');"></div>
        <div class="speaker__full-name">
          <div class="speaker__name">
            Tomas
          </div>
          <div class="speaker__name">
            Trajan
          </div>
        </div>
        <div class="speaker__description">
          Master of ceremonies
        </div>
        <a class="speaker__twitter-link" href="https://twitter.com/manjula_dube">
          @tomastrajan
        </a>
      </div>
    </div>
  </div>
</div>
